* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}

nav {
    height: calc(100vh-70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: aliceblue;
}

header {
    height: 100vh;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eadcff;
}

h1 {
    font-size: 72px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0  24px 0;
}

button {
    padding: 8px 16px;
    color: white;
    font-size: 24px;
    background-color: #05c7cf;
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 700;

}
.logo {
    width: 100px;
}

ul {
   display: flex; 
}

li {
    list-style: none;
    padding: 16px;
}

.row {
width: ;100%;
max-width: 1300;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
}

#about,#discord,#contact,footer {
padding: 48px 0;
}

#about {
    background-color: #f8ffdc;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section__description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__img--wrapper {
    width: 40%;
}

img {
    width: 100%;
}

.section__description--wrapper {
    width: 60%;
}

.about__img--wrapper,.section__description--wrapper {
    padding: 0 24px;
}
.section__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

#discord {
    background-color: #cefeff;
}

#contact {
    background-color: #dce9ff;
}

form {
    display: flex;
    max-width: 600
    margin: 0 auto;
    flex-direction: column;
    algin-items: center;
    justify-content: center;
    padding: 0 24px;
}

input,textarea {
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
button {    width: 100%;
    background-color: #05c7cf;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}   

footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__logo {
    max-width: 480px;
    margin-bottom: 16px;
}
.footer__links {
    margin-bottom: 32px;
}
.footer__link {
    padding: 0 16px;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
 }

.home__description {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 28px;
}

.home__description--button {
    max-width: 240px;
}

.subheader  {
    text-align: center;
    font-size: 28px; 
}

ul {
    display: none;
}

.section__description {
    flex-direction: column;
}

.section__description--wrapper {
    width: 100%;
}

#discord .section__description {
    flex-direction: column-reverse;
}

footer {
    padding: 48px 24px;
}
.footer__logo
max-width: 400px;

.footer__link {
    padding: 0 4px;
    font-size: 18px;
}

.footer__links {
    margin-bottom: 24px;
}
}